<template>
  <b-container fluid>
    <b-row>
      <b-col><NavMenu></NavMenu>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="2"><Sidebar></Sidebar>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import NavMenu from './NavMenu'
import Sidebar from './Sidebar'
export default {
  components: {
    NavMenu,
    Sidebar
  }
}
</script>
