<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Color</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <button v-for="color in colors" 
        :style="{backgroundColor: color,}" 
        @click="addBox(color)">
            {{color}}
        </button>
        <template v-if="boxes.length==0">
            <div>
                Nobox !!!
            </div>
        </template>

        <template v-else-if="boxes.length!=0">
            <div v-for="(box,index) in boxes" 
            :key="box.id" 
            :style="{
                position:'relative',
                width:'350px',
                height:'22px',
                borderStyle:'solid',
                borderWidth:'1px',
                backgroundColor:box.color,
                }">
                {{box.id}}.
                {{box.color}}
                <span style="position: absolute;right: 0 ;">
                    <button @click="delBoxes(index)">Delete</button>
                    <button v-if="index!=0" @click="upBoxes(index)">Up</button>
                    <button v-if="index!=boxes.length-1" @click="downBoxes(index)">Down</button>
                </span>
            </div>
        </template>
    
    </div>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                lastId:0,
                colors: [
                    'red',
                    'green',
                    'blue',
                    'yellow',
                    'white',
                    'pink',
                ],
                selectColor: '',
                boxes: [],
            },
            methods: {
                addBox: function (color) {
                    //reactive รีเฟสออโต้อัพเดทเอง
                    this.boxes.push({
                        id:this.lastId++,
                        color:color,
                    });
                },
                delBoxes:function(index){
                    this.boxes.splice(index,1);
                },
                upBoxes:function(index){
                    var temp = [this.boxes[index-1],this.boxes[index]];
                    this.boxes.splice(index-1,2,temp[1],temp[0]);
                },
                downBoxes:function(index){
                    var temp = [this.boxes[index],this.boxes[index+1]];
                    this.boxes.splice(index,2,temp[1],temp[0]);
                },
            }

        });
    </script>
</body>

</html>