<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Button</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>
    <div id="boom-button1">
        <button 
        style="width: 50px; height: 50px;"
        @click="boomClick"> 
        {{boomvalue}} 
    </button>
    </div>

    <div id="boom-button2">
        <button 
        style="width: 50px; height: 50px;"
        @click="boomClick"> 
        {{boomvalue}} 
    </button>
    </div>


    <script>
        var boomButton = new Vue({
            el: '#boom-button1',
            data: {
                boomvalue: '--',
                hidevalue: 'Bomb'
            },
            methods: {
                boomClick:function(){
                    if(this.hidevalue=='-')
                        return;
                        this.boomvalue=this.hidevalue;
                    
                }
            },
            computed: {

            },
        });

        var boomButton = new Vue({
            el: '#boom-button2',
            data: {
                boomvalue: '--',
                hidevalue: '--'
            },
            methods: {
                boomClick:function(){
                    if(this.hidevalue=='-')
                        return;
                        this.boomvalue=this.hidevalue;
                    
                }
            },
            computed: {

            },
        });
    </script>
</body>

</html>